<div id="truckID" data-id="{{truck.id}}"></div>
<br>
<div class="row justify-content-center">
    <div class="col-sm col-md-8 align-self-center">
        <div class="card mb-3">
            <div class="card-block">
                <div class="text-center">
                    <small class="text-muted" id="locUpdate"></small>
                </div>
                <hr style="width: 50%;">
                <h1 class="card-title text-center" style="color: #2193b0; text-shadow: 1px 1px 2px gray;">{{truck.truckName}} Profile Page.</h1>

                <p class="card-text" style="padding-left:5px;">
                    <b>Truck Category: </b>{{truck.category}}.</p>
                <p class="card-text" style="padding-left:5px;">
                    <b>Truck Description: </b>{{truck.desc}}.</p>
                {{#if truck.menuURL}}
                <p class="card-text" style="padding-left:5px;">
                    <b>Truck Menu: </b>
                    <a href="{{truck.menuURL}}">View Menu!</a>
                </p>
                {{else}}
                <p class="card-text" style="padding-left:5px;">
                    <b>Truck Menu: </b>
                    <i> Menu not available.</i>
                </p>
                {{/if}}
                <img class="card-img-bottom" src="{{truck.pictureURL}}" alt="Food truck picture" style="opacity: 0.8;">
            </div>
            <div class="text-center">
                <p class="card-text">
                    <small class="text-muted">Profile last updated: {{truck.updatedAt}}</small>
                </p>
            </div>

        </div>


    </div>
</div>


{{> tppScript}}